.item-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.item-img {
  padding: 3px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
}
.hidden {
  /* border: 1px solid red; */
  background-color: blue;
  opacity: 0;
  pointer-events: none; /* Ngăn chặn các sự kiện chuột được gửi đến phần tử */
}

.chosen {
  border: 2px solid rgb(51, 255, 0);
}
